body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  position: relative;
}
.cart-item-number {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 2px;
  left: 22px;
}

.filter-container {
  display: block;
  min-height: 90vh;
  width: 100%;
}

.filter-btn-container {
  display: flex;
  justify-content: center;
}

.sort {
  display: flex;
  justify-content: center;
}
.demo {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2%;
}

.sort-btn:hover {
  background-color: #fff;
  color: orangered;
}

.product-card {
  border-color: #fff;
  display: grid;
}
.product-card:hover {
  border: 1px solid #eee;
  /* transform: scale(1.1); */
}
.product-card-body {
  display: grid;
  align-items: flex-start;
  color: #000;
}
.product-link {
  text-decoration: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(50%);
}

.carousel-indicators li {
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px;
  margin-top: 40px;
  position: relative;
  top: 25px;
}

.carousel-indicators .active {
  background-color: #999;
}

.demo1:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.favorite-icon {
  background-color: #eee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  visibility: hidden;
}

.product-card:hover .favorite-icon {
  visibility: visible;
}
