body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  position: relative;
}
.cart-item-number {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 2px;
  left: 22px;
}

.filter-container {
  display: block;
  min-height: 90vh;
  width: 100%;
}

.filter-btn-container {
  display: flex;
  justify-content: center;
}

.sort {
  display: flex;
  justify-content: center;
}
.demo {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2%;
}

.sort-btn:hover {
  background-color: #fff;
  color: orangered;
}
