body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.nav-link {
  position: relative;
}
.cart-item-number-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 2px;
  left: 22px;
}

/* FILTER CONTAINER */
.filter-container {
  z-index: 999;
  display: block;
  min-height: 90vh;
  width: 100%;
}

.filter-btn-container {
  display: none;
  justify-content: center;
}

/* FILTERS DISPLAY */
.filter-display-container {
  position: relative;
  display: inline-block;
}
.filter-item {
  display: inline-block;
  position: relative;
  margin-right: 7px;
}
.cross-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 1px;
}

/* SORTING SECTION */
.sorting-settings-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2%;
}

.active-btn {
  background-color: #fff;
  color: orangered;
}
.active-btn:hover {
  background-color: #fff;
  color: orangered;
}

/* PRODUCT CARD */
.product-card {
  border-color: #fff;
  display: grid;
}
.product-card:hover {
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.product-card-body {
  display: grid;
  align-items: flex-start;
  color: #000;
}
.product-link {
  text-decoration: none;
}

/* CAROUSEL */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(50%);
}

.carousel-indicators {
  height: 0;
}

.carousel-indicators .active {
  background-color: #999;
}

.carousel-indicators li {
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px;
  position: relative;
}

/* FAVORITE ICON */
.favorite-icon {
  background-color: #eee;
  color: orangered;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  visibility: hidden;
}

.product-card:hover .favorite-icon {
  visibility: visible;
}

/* RATING */
.review-number {
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
}

/* SHIPPING DETAIL */
.shipping-tooltip {
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}

.toggle-filter-btn {
  display: none;
}

.success-message {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .demo {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-col-size {
    display: none;
  }
}

@media (max-width: 768px) {
  .filter-container {
    display: none;
    min-height: 60vh;
    position: absolute;
    left: 0;
    top: 55px;
  }
  .toggle {
    display: block;
  }
  .filter-btn-container {
    display: flex;
    justify-content: center;
  }
}
